   <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Product Update</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="https://themeforest.net/item/elite-admin-the-ultimate-dashboard-web-app-kit-material-design/16750820?ref=suniljoshi" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Now</a>
                        <ol class="breadcrumb">
                            <li><a routerLink="/login">Home</a></li>
                            <li><a (click)="goBack()">Product</a></li>
                            <li class="active">Product Update</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
 <!--iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii-->                     
                            <h3 class="box-title m-b-0">Form Update</h3>
                            <p class="text-muted m-b-30"> Form product update</p>
                            <form data-toggle="validator" (submit)="updateProduct()">
                                <div class="form-group">
                                    <label for="shop_name" class="control-label">Product Name :</label>
                                    <input type="text" class="form-control" id="inputName1" required  [(ngModel)]="model.pro_name" name="pro_name"> </div>
                                <div class="form-group">
                                    <label for="shop_email" class="control-label">Product Price :</label>
                                    <input type="email" class="form-control" id="inputEmail"  data-error="Bruh, that email address is invalid" required  [(ngModel)]="model.price" name="price">
                                    <div class="help-block with-errors"></div>
                                </div>
                                <!--
                                <div class="form-group">
                                    <label for="shop_email" class="control-label">Shop ID :</label>
                                    <input type="number" class="form-control" id="inputEmail"  required  [(ngModel)]="model.shop_id" name="shop_id">
                                </div>
                                -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </div>
                            </form>
                
                <!-- /.row -->
                <!-- .right-sidebar -->
              