 <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title">Shop</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <a href="https://themeforest.net/item/elite-admin-responsive-dashboard-web-app-kit-/16750820" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Now</a>
          <ol class="breadcrumb">
            <li><a routerLink="/">Dashboard</a></li>
            <li class="active">Shop</li>
          </ol>
        </div>
        <!-- /.col-lg-12 --> 
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="white-box">
            <h3 class="box-title"><i class="ti-shopping-cart text-success"></i> Order Received</h3>
            <div class="text-right"> <span class="text-muted">Todays Order</span>
              <h1><sup><i class="ti-arrow-up text-success"></i></sup> 12,000</h1>
            </div>
            <span class="text-success">20%</span>
            <div class="progress m-b-0">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:20%;"> <span class="sr-only">20% Complete</span> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="white-box">
            <h3 class="box-title"><i class="ti-cut text-danger"></i> Tax Deducation</h3>
            <div class="text-right"> <span class="text-muted">Monthly Deduction</span>
              <h1><sup><i class="ti-arrow-down text-danger"></i></sup> $5,000</h1>
            </div>
            <span class="text-danger">30%</span>
            <div class="progress m-b-0">
              <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:30%;"> <span class="sr-only">230% Complete</span> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="white-box">
            <h3 class="box-title"><i class="ti-wallet text-info"></i> Revenue Stats</h3>
            <div class="text-right"> <span class="text-muted">Weekly Revenue</span>
              <h1><sup><i class="ti-arrow-up text-info"></i></sup> $10,000</h1>
            </div>
            <span class="text-info">60%</span>
            <div class="progress m-b-0">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:60%;"> <span class="sr-only">20% Complete</span> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="white-box">
            <h3 class="box-title"><i class="ti-stats-up"></i> Yearly Sales</h3>
            <div class="text-right"> <span class="text-muted">Yearly Income</span>
              <h1><sup><i class="ti-arrow-up text-inverse"></i></sup> $9,000</h1>
            </div>
            <span class="text-inverse">80%</span>
            <div class="progress m-b-0">
              <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:80%;"> <span class="sr-only">230% Complete</span> </div>
            </div>
          </div>
        </div>
      </div>

      <!--row -->
       
   
      <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <div class="white-box">
                  <h3 class="box-title">Shop Overview</h3>
             <div class="table-responsive">
              <table class="table product-overview">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>                  
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let shop of shopes">
                     <td>{{shop.name}}</td>
                     <td>{{shop.email}}</td>
                    <td>
                      <span class="label label-success font-weight-100">Paid</span>
                    </td>
                    <td>
                    <a routerLink="/edit/{{shop.shop_id}}" class="text-inverse p-r-10" data-toggle="tooltip" title="Edit" >
                    <i class="ti-marker-alt"></i></a>
                     
                    <a routerLink="/show/{{shop.shop_id}}" class="text-inverse p-r-10" data-toggle="tooltip" title="View">
                    <i class="ti-zoom-in"></i></a> 
                    <a (click)="deleteShop(shop.shop_id)" class="text-inverse" title="Delete" data-toggle="tooltip">
                     <i class="ti-trash" ></i></a> 
                     </td>

                  </tr>
                </tbody>
              </table>

              </div>
              </div>
          </div>  
      </div>












