   <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Shop</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="https://themeforest.net/item/elite-admin-the-ultimate-dashboard-web-app-kit-material-design/16750820?ref=suniljoshi" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Now</a>
                        <ol class="breadcrumb">
                            <li><a routerLink="/login">Home</a></li>
                           
                            <li class="active">Shop</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
<!--iiiiiiiiiiiiiii iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="white-box">
                            <h3 class="box-title">Editable with Datatable</h3>
                          <table class="table table-bordered">
  <thead>
    <tr>
      <td>Name</td>
      <td>Email</td>      
      <td width=275 align="center" class="col-sm-6 col-md-4 col-lg-3"><i class="fa fa-gear"></i>  <span class="text-muted"></span></td>
    </tr>
  </thead>
  <tbody>
     <tr *ngFor="let shop of shopes"  >
        <td>{{shop.name}}</td>
        <td>{{shop.email}}</td>
        
        <td class="text-nowrap" > 
             <a routerLink="/show/{{shop.shop_id}}" class="btn btn-info" >
               <i class="fa fa-info"></i></a> 
             <a routerLink="/edit/{{shop.shop_id}}" class="btn btn-success">
               <i class="fa fa-pencil-square-o"></i></a> 
             <a  routerLink="/add" class="btn btn-info">
               <i class="fa fa-pencil"></i></a>   
            <a  (click)="deleteShop(shop.shop_id)" class="btn btn-danger">
               <i class="fa fa-times"></i></a>
           <a routerLink="/product/{{shop.shop_id}}" class="btn btn-success">
               <i class="fa fa-files-o"></i></a> 
                      
        </td>
     </tr>
    
  </tbody>
 
</table>
                           
                        </div>
                    </div>
                </div>
 <!-- iiiiiiiiiiiiii iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii/.row -->
                            <!-- /.row -->
                <!-- .row -->
               
