    <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Shop Dital</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="https://themeforest.net/item/elite-admin-the-ultimate-dashboard-web-app-kit-material-design/16750820?ref=suniljoshi" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Now</a>
                        <ol class="breadcrumb">
                            <li><a routerLink="/login">Home</a></li>
                            <li><a routerLink="/shop">Shop</a></li>
                            <li class="active">Shop Dietal</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
 <!--iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii-->
                              
                             

 

                                <div class="panel panel-default" *ngIf=shop>
 
  <div class="panel-body">
      <form class="form-horizontal" >
        <div class="form-group">
          <label for="emp_name" class="col-sm-2 control-label">Shop Name : </label>
          <div class="col-sm-9">
            <p class="form-control">{{shop.name}}</p> 
          </div>
        </div>
        <div class="form-group">
          <label for="position" class="col-sm-2 control-label">Shop Email : </label>
          <div class="col-sm-9">
          <p class="form-control">{{shop.email}}</p>
          </div>
        </div>
      
        <div class="form-group">
          <label for="id" class="col-sm-2 control-label">Shop ID : </label>
          <div class="col-sm-9">
            <p class="form-control">{{shop.shop_id}}</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <!--<button type="submit" class="btn btn-info" (click)="goBack()">Cancel</button>-->
          <!--   <a  class="btn btn-info" (click)="goBack()">Cancel</a> -->
          </div>
        </div>
    </form>
  </div>
</div>                              


                               
                   
                <!-- /.row -->
                <!-- .right-sidebar -->
              