<div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Shop Add</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="https://themeforest.net/item/elite-admin-the-ultimate-dashboard-web-app-kit-material-design/16750820?ref=suniljoshi" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Now</a>
                        <ol class="breadcrumb">
                            <li><a routerLink="/">Home</a></li>
                            <li><a routerLink="/shop">Shop</a></li>
                            <li class="active">Shop Add</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

 <!--iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii-->                     
                            <h3 class="box-title">Form Insert</h3>
            
   
   <form class="form-material form-horizontal" (submit)="addShop()">
                                    <div class="form-group">
                                        <label class="col-md-12" for="shop_name">Shop Name</label>
                                        <div class="col-md-12">
                                            <input type="text"  id="inputName1" name="name" class="form-control" placeholder="enter shop name"  required    [(ngModel)]="model.name">
                                        </div>
                                    </div>
                                 
                                    <div class="form-group">
                                        <label class="col-md-12" for="shop_email">Shop Email</label>
                                        <div class="col-md-12">
                                            <input #emailInput="ngModel"
                                             type="text"  name="email" class="form-control" placeholder="enter email " [(ngModel)]="model.email"        pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' />

                                             <div class="alert alert-danger" *ngIf="emailInput.errors && (emailInput.dirty || emailInput.touched)">
                <span [hidden]="!emailInput.errors.pattern">
                    please enter a valid email
                </span>
            </div>
                                        </div>
                                    </div>
                            
                              
                                    
                                    <button type="submit" class="btn btn-info waves-effect waves-light m-r-10">Submit</button>
                                    <button (click)="goBack()" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                                </form>  

 

