    <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Shop Dital</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="https://themeforest.net/item/elite-admin-the-ultimate-dashboard-web-app-kit-material-design/16750820?ref=suniljoshi" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Now</a>
                        <ol class="breadcrumb">
                            <li><a routerLink="/">Home</a></li>
                            <li><a routerLink="/shop">Shop</a></li>
                            <li class="active">Shop Dietal</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
 <!--iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii-->
                              
                             

 

                                <div  *ngIf=shop>
 
  <div class="panel-body">
      <form class="form-horizontal" role="form" (submit)="updateShop()">
                                        <div class="form-body">
                                      
                                            <hr class="m-t-0 m-b-40">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Shop Name:</label>
                                                        <div class="col-md-9">
                            <p class="form-control-static" >   {{shop.name}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                               
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Shop Email:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> 
                                                                {{shop.email}} </p>
              
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                               
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                           <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Shop ID:</label>
                                                        <div class="col-md-9">
                                                            <p class="form-control-static"> 
                                                                {{shop.shop_id}} </p>
              
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                               
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                           
                                            <div class="row">
                                              
                                                <div class="col-md-6">
                                                   
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                           
                                                            <button type="button" (click)="goBack()" class="btn btn-default">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"> </div>
                                            </div>
                                        </div>
                                    </form>

  </div>
</div>                              


                               
                   
                <!-- /.row -->
                <!-- .right-sidebar -->
              

             